body{

    background-color: gray;
    color: black;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-red {
    color: red !important;
}

.countdown {
    margin: 16px;
    font-size: 36px;
    color: orange;
}

.start-button {
    font-size: 14px;
    padding: 6px 16px;
    background-color: orange;
    color: black;
    font-weight: 400;
    border: none;
    border-radius: 3px;
}

.start-button:hover {
    cursor: pointer;
}
.tit{
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
}
.menu li {
    list-style-type: none;
}
.menu ul {
    display: flex;
    background: lightgray;
    padding-left: 0;
}
.menu a {
    padding: 1em;
    display: block;
    color: black;
    border-right: 1px solid gray;
    background: darkgray;
}
.menu a:hover {
    background: gold;
}